[Unit]
Wants=network.target
[Service]
ExecStart=/home/pi/bin/rtsp-simple-server /home/pi/conf/rtsp-simple-server.yml
User=pi
[Install]
WantedBy=multi-user.target
